h1 {
    text-align: center;
    margin: 0px auto;
    padding: 0.5px;
    color: rgb(23, 82, 49);
    font-family: sans-serif;

}

head {
    font-family: sans-serif;
}

html, body {
    font-family: sans-serif;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
    text-align: center;
}

ul {
    border-spacing: 0.5vh;
}

footer {
    font-size: 10;
    text-align: left;
    color: white;
    padding: 10px;

}



