<h1>VOICE - Valuing Our Integrity, Consent, and Empowerment</h1>
<p><strong><em>A student-ran club focused on raising awareness on the signs of sexual assault and providing resources to those affected.</em></strong></p>
    <nav class="navbar">
      
        <a href="index.html" data-nav="home">Home</a>
        <a href="resources.html" data-nav="resources">Resources</a>
        <a href="form.html" data-nav="form">Help Form</a>
        <a href="stories.html" data-nav="stories">When To Use Your VOICE</a>
        <a href="about.html" data-nav="about">About Us</a>
      
</nav>