<nav>
    <a href="https://webpages.charlotte.edu/lrettke/">Clt Page</a>
||
<a href="https://github.com/LuLieu/LuLieu.github.io">GitHub</a>
||
<a href="https://lulieu.github.io/itis3135">GitHub.io</a>
||
<a href="https://www.codecademy.com/profiles/LuRet">Codeacademy</a>
||
<a href="https://www.freecodecamp.org/LuRe">freeCodeCamp</a>
||
<a href="https://www.linkedin.com/in/lucasrettke/">Linkedin</a>
||
<a href="https://webpages.charlotte.edu/lrettke/itis3135/roadwrappers/lrindex.html">RoadWrappers</a>
||
<a href="https://webpages.charlotte.edu/lrettke/itis3135/hobby/">Hobby</a>
</nav>
<p>Created by <a href="https://webpages.charlotte.edu/lrettke/itis3135/rettkeandco.com/rettkeandco.html">Lucas & Co. LLC</a> © 2025, Certified in <a href="https://www.freecodecamp.org/certification/LuRe/responsive-web-design">Responsive Web Design</a></p>
