<h1>Lucas Rettke's Lovely Roadrunner || ITIS3135</h1>
        <nav>
            <a href="./">Home</a>
            ||
            <a href="introduction.html">Introduction</a>
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="website_evaluations.html">Evaluations</a>
            ||
            <a href="byo_intro.html">BYO Form</a>
            ||
            <a href="project_overview.html">Project Layout</a>
        </nav>
        <nav>
            \/ <a href="https://webpages.charlotte.edu/lrettke/itis3135/stuff/for%20Stuff%21%3BD.html">Crappy website</a> /\
            \/ <a href="https://webpages.charlotte.edu/lrettke/itis3135/client_project/index.html">Client Project</a> /\
        </nav>